.chart .line {
    fill: none;
    stroke-width: 2;
}

/*
.chart #line0,#legend0,#legend-line0 {
.chart .line {
    stroke: #4444ff;
}

.chart #line1,#legend1,#legend-line1 {
    stroke: #4444ff;
    opacity: 0.4;
    stroke-width: 2;
}
*/

.chart .legend-line {
    stroke-width: 3;
}

.chart .legend {
    stroke-width: 1;
}
