input[type=number] {
    text-align: right;
}

body {
    position: relative;
    margin-bottom: 200px;
}

.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0px;
}

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}

